{% if page.title == "Home" %}
  <meta property="og:title" content="{{ site.title }} &middot; {{ site.tagline }}" />
  <meta property="og:type" content="website" />
{% else %}
  <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}" />
  <meta property="og:type" content="article" />
{% endif %}
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% else %}
  <meta property="og:description" content="{{ site.description }}" />
{% endif %}
{% if page.url and site.baseurl %}
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
{% endif %}
{% if page.thumbnail %}
  <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}" />
{% else %}
  <meta property="og:image" content="{{ site.url }}/public/images/facebook.png" />
{% endif %}